<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="roleauthDao" class="com.oa.dao.impl.RoleAuthDaoImpl" parent="baseDao">
 </bean>
 
 <bean id="roleauthService" class="com.oa.service.impl.RoleAuthServiceImpl" parent="baseService">
 </bean>
 
 
 <bean id="roleauthAction" class="com.oa.action.zyq.RoleAuthAction_zyq" scope="prototype">
		<property name="roleauthService" ref="roleauthService"/>
 </bean>
   

	</beans>